/* GWT CellTable styles */
.cellTableWidget {
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100%;
    border-image-width: 1;
    border-image-outset: 0;
    border-image-repeat: stretch stretch;
    padding: 5px !important;
}
.cellTableHeader {
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 15px;
	font-style: normal;
	font-weight: bold;
	line-height: 1.5;
	color: #444;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f3f4), to(#e0e0e0));
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	border-left: 1px solid #fff;
	border-right: 1px solid #ccc;
	padding: 0 5px;
}
.cellTableFirstColumnHeader {
    font-family: Helvetica,Arial,"MS Trebuchet",sans-serif;
    font-size: 15px;
	font-style: normal;
	font-weight: bold;
	line-height: 1.5;
	color: #444;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f3f4), to(#e0e0e0));
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	border-left: 1px solid #fff;
	border-right: 1px solid #ccc;
	padding: 0 5px;
}
.cellTableLastColumnHeader {
}
.cellTableCell {
}
.cellTableEvenRow {
	background:  #f0f9ff ;
	/*
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	*/
}
.cellTableOddRow {
	background: #fff;
	/*
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #fff;
	*/
}
.cellTableSelectedRow {
	color: #fff;
	background: #3367d6;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
}
.cellTableSelectedRowCell {
	color: #fff;
	background: #3367d6;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    border-top: 2px solid #778bb5 !important;
    border-bottom: 2px solid #778bb5 !important;
    border-left: 2px solid #778bb5 !important;
    border-right: 2px solid #778bb5 !important;
    border-spacing: 2px !important;
}
.cellTableHoveredRow {
	color: black;
	background: #f3f3f3;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    cursor: pointer;
}
.cellTableHoveredRowCell {
	color: black;
	background: #f3f3f3;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
    cursor: pointer;
}
.cellTableKeyboardSelectedRow {
	color: #fff;
	background: #3367d6;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
}
.cellTableKeyboardSelectedRowCell {
	color: #fff;
	background: #3367d6;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
}
.cellTableKeyboardSelectedCell {
	color: #fff;
	background: #3367d6;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-clip: border-box;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto auto;
}
/* end GWT CellTable styles */